.contant-clients-section {
  background-color: $lightest-background-color;
}

.constant-clients-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.constant-clients-section-svg {
  transition-property: fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $social-links-svg-main-color;
}

.constant-clients-section-logo {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

.logo-1 {
  width: 44px;
  height: 49px;}
  
.logo-2 {
  width: 40px;
  height: 52px;}
  
.logo-3 {
  width: 41px;
  height: 43px;}
  
.logo-4 {
  width: 80px;
  height: 42px;}
  
.logo-5 {
  width: 59px;
  height: 47px;}
  
.logo-6 {
  width: 88px;
  height: 45px;}

&:hover,
&:focus {
  border: 1px solid $accent-blue-color;}

&:hover svg,
&:focus svg {
  fill: $accent-blue-color;}
}


/*Smartphone*/ 

@media screen and (max-width: 767px) {
  
  .contant-clients-section {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .constant-clients-section-title {
    margin-bottom: 30px;
  }

  .constant-clients-section-list {
    flex-wrap: wrap;
    flex-grow: 0;
    justify-content: center;
  }

  .constant-clients-section-item {
    max-width: 210px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;}

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 30px;}
  }
  
  .constant-clients-section-svg-wrapper {
  justify-content: center;
  }
  
  .svg-wrapper-1 {
    padding-top: 20px;
    padding-right: 82px;
    padding-bottom: 20px;
    padding-left: 83px;
  }

  .svg-wrapper-2 {
    padding-top: 19px;
    padding-right: 85px;
    padding-bottom: 19px;
    padding-left: 85px;
  }

  .svg-wrapper-3 {
    padding-top: 24px;
    padding-right: 84px;
    padding-bottom: 23px;
    padding-left: 85px;
  }

  .svg-wrapper-4 {
    padding-top: 24px;
    padding-right: 65px;
    padding-bottom: 23px;
    padding-left: 65px;
  }

   .svg-wrapper-5 {
    padding-top: 22px;
    padding-right: 75px;
    padding-bottom: 21px;
    padding-left: 76px;
  }

  .svg-wrapper-6 {
    padding-top: 22px;
    padding-right: 60px;
    padding-bottom: 22px;
    padding-left: 61px;
  }

}

 /*Tablet*/ 
  
 @media screen and (min-width: 768px) and (max-width: 1199px) {
  
  .contant-clients-section {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .constant-clients-section-title {
    margin-bottom: 30px;
  }

  .constant-clients-section-logo {
    width: 226px;
    height: 90px;
  }

  .constant-clients-section-item {
  
    &:not(:nth-child(3n)) {
      margin-right: 30px;}

    &:not(:nth-last-child(-n+3)) {
      margin-bottom: 30px;}
  }

}

/*Desctop*/

@media screen and (min-width: 1200px) {
  .contant-clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .constant-clients-section-item:not(:last-child) {
    margin-right: 30px;
  }

  .constant-clients-section-title {
    margin-bottom: 30px;
  }

  .constant-clients-section-logo {
    width: 170px;
    height: 90px;
  }
}
