.footer-box {
  background-color: $background-footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.web-studio-footer-logo {
  margin-bottom: 20px;
}

.footer-contacts-item-link {
  font-weight: 400; 
  font-style: normal; 
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.footer-contacts-item-address {
  color: $dark-theme-text-color;
}

.footer-contacts-item-requisites {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-network-link-logo {
  background-color: rgba(255, 255, 255, 0.1);
}
 
.join-us-text {
  font-weight: 700; 
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $dark-theme-text-color;
  text-transform: uppercase;
}

.sign-up-text {
  font-weight: 700; 
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-theme-text-color;
}

.sign-up-button {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  font-weight: 700; 
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $dark-theme-text-color;

  border-color: #ffffff;
  background-color: $accent-blue-color;
  border: 0px;
  border-radius: 4px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.icon-send-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $dark-theme-text-color;
}

.sign-up-form-input {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  resize: none;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $dark-theme-text-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  
 &::placeholder {
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
 }

 &:hover::placeholder,
 &:focus::placeholder {
    color: rgba(255, 255, 255, 1);
 }
}

/*Smartphone*/ 

@media screen and (max-width: 767px) {
  
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .web-studio-logo {
    font-size: 24px;
    line-height: 1.167;
    }

  .footer-contacts-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .footer-contacts-item:last-child {
    margin-bottom: 60px;
  }
  
  .join-us-text {
    margin-bottom: 20px;
  }

  .footer-social-network-links-list {
    margin-bottom: 60px;
  }

  .sign-up-form-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .sign-up-text {
    margin-bottom: 20px;
  }

}

 /*Tablet*/ 
  
 @media screen and (min-width: 768px) and (max-width: 1199px) {

  .footer-box-container {
    padding-left: 76px;
    padding-right: 89px;
  }
  
  .web-studio-logo {
    font-size: 24px;
    line-height: 1.167;
  }

  .tablet-footer-box-container {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }

  .footer-box-contacts {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 165px;
  }

  .footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }

  .join-us-box {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .join-us-text {
    margin-bottom: 20px;
  }

  .sign-up-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sign-up-form-input {
    width: 358px;
  }

  .sign-up-text {
    margin-bottom: 20px;
  }

  .sign-up-form-input {
    margin-bottom: 30px;
    }
}

/*Desctop*/

@media screen and (min-width: 1200px) {

  .web-studio-logo {
    font-size: 26px;
    line-height: 1.192;
  }

  .footer-box-container {
    display: flex;
    align-items: baseline;
  }

  .tablet-footer-box-container {
    display: flex;
    align-items: baseline;
  }

  .footer-box-contacts {
    margin-right: 69px;
  }

  .footer-contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }

  .join-us-box {
    margin-right: 94px;
  }

  .join-us-text {
    margin-bottom: 20px;
  }
  
  .sign-up-form-section {
    display: flex;
    align-items: center;
  }

  .sign-up-form-input {
    width: 358px;
    margin-right: 12px;
  }

  .sign-up-text {
    margin-bottom: 20px;
  }
}
