

.header-box {
  background-color: $lightest-background-color;
  border: 0px;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.header-box-container {
  display: flex;
  align-items: center;
}

.web-studio-logo {
  font-family: $secondary-font;
  font-weight: 700; 
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.web-logo-part {
  color: $accent-blue-color;
}

.studio-logo-part {
  color: $logo-black-color;
}

.web-studio-item-link-active {
  position: relative;
  color: $accent-blue-color; 

  &::after {
    content: "";
  
    position: absolute;
    left: 0;
  
    width: 100%;
    height: 4px;
    background: $accent-blue-color;
    border-radius: 2px;
  }
}

.contacts-menu-item-mailto,
.contacts-menu-item-tel {
  display: block;
}

.contacts-menu-item-link {
  color: $light-grey-text-color;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-blue-color;
  }

  &:hover svg,
  &:focus svg {
  fill: $accent-blue-color;
  }
}

.web-studio-item-link {
  color: $dark-grey-text-color;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-blue-color;
  }
}

.icon-envelope-svg {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: $social-links-svg-main-color;
  transition-property: fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-smartphone-svg {
  width: 10px;
  height: 15px;
  fill: $social-links-svg-main-color;
  margin-right: 10px;
  transition-property: fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Smartphone*/ 

@media screen and (max-width: 767px) {
  

  .header-box-container {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
  }
  
  .web-studio-navigation {
    margin-right: 269px;
  }

  .web-studio-logo {
    font-size: 24px;
    line-height: 1.167;
  }

  .icon-menu-svg,
  .icon-close-40px-svg {
    width: 40px;
    height: 40px;
    align-content: center;
    fill: $dark-grey-text-color;
    transition-property: fill;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
     fill: $accent-blue-color;
    }
  }

  .icon-close-40px-svg {
     display: none;
   }

  .header-menu-button {
    position: relative;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    z-index: 100;
  
    &.is-open {
      .icon-menu-svg {
        display: none;
      }
    
      .icon-close-40px-svg {
        display: block;
      }
     }
   }

  .header-box-menu-wrapper {
    background-color: $lightest-background-color;
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    padding-top: 60px;
    padding-right: 140px;
    padding-bottom: 60px;
    padding-left: 140px;
    transform: translateX(-250%);
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  
    &.is-open {
      transform: translateX(0);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
      }
  }

  .web-studio-item-text {
    margin-bottom: 52px;
  }
  
  .portfolio-item-text {
    margin-bottom: 40px;
  }
  
  .header-box-navigation {
    margin-bottom: 60px;
  }
  
  .contacts-menu-item:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .header-box-menu-wrapper,
  .contacts-menu-list-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .web-studio-item-link {
    font-size: 18px;
    line-height: 1.167;
  }

  .web-studio-item-link-active {
    &::after {
      bottom: -8px;
    }
  }

  .contacts-menu-item-link {
    font-size: 18px;
    line-height: 1.167;
    }
}

 /*Tablet*/ 
  
 @media screen and (min-width: 768px) and (max-width: 1199px) {
   
  
  .header-box-container {
    justify-content: space-between;
  }
  
  
  .header-menu-button {
    display: none;
  }

  .web-studio-logo {
    font-size: 24px;
    line-height: 1.167;
  }

  .header-box-menu-wrapper,
  .web-studio-menu {
    display: flex;
    align-items: center;
  }

  .contacts-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .web-studio-navigation {
    margin-right: 81px;
  }
  
  .web-studio-item-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;
  }
  
  .web-studio-item-link-active {
    &::after {
      bottom: 0px;
    }
  }

  .web-studio-item:not(:last-child) {
    margin-right: 50px;
  }

  .header-box-navigation {
    margin-right: 84px;
  }

  .contacts-menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .contacts-menu-item-link {
    font-size: 12px;
    line-height: 1.167;
    }
}

/*Desctop*/

@media screen and (min-width: 1200px) {
  
  .header-menu-button {
    display: none;
  }
  
  .header-box-navigation {
    margin: 0;
  }

  .header-box-container {
    justify-content: flex-start;
    align-items: center;
  }

  .header-box-menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
 
  .web-studio-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contacts-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .web-studio-item {
    &:not(:last-child) {
      margin-right: 50px;}
  }
  
  .contacts-menu-item {
    &:not(:last-child) {
      margin-right: 30px;}
  }

  .contacts-menu {
    display: flex;
    align-items: center;
  }

  .web-studio-logo {
    font-size: 24px;
    line-height: 1.292;
  }

  .web-studio-navigation {
    margin-right: 85px;
  }

  .header-box-navigation {
    margin-right: 305px;
  }
  
  .web-studio-item-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .web-studio-item-link,
  .contacts-menu-item-link {
    font-style: normal;
    font-weight: 500;
    transition-property: color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .web-studio-item-link,
  .mailto-text,
  .tel-number {
    font-size: 14px;
    line-height: 1.143;
  }
  
  .web-studio-item-link-active {
    &::after {
      content: "";
      bottom: 0;
    }
  }

}
