.our-team-section {
  background-color: $darker-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-section-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team-member {
  background: $lightest-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  .social-network-links-list {
    padding-top: 16px;
    padding-bottom: 24px;
  }
}

.our-team-member-photo {
  margin-bottom: 30px;
}

.our-team-member-name {
  margin-bottom: 10px;
  font-weight: 500;
}

.our-team-member-profession {
  font-weight: 400; 
  color: $light-grey-text-color;
}

.our-team-member-name,
.our-team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}


/*Smartphone*/ 

@media screen and (max-width: 767px) {
  
  .our-team-section {
  display: flex;
  align-items: center;
  text-align: center;
  }

  .our-team-list {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }

  .our-team-member-photo {
    width: 450px;
    height: 320px;
  }

  .our-team-member {
  
    &:not(:last-child) {
    margin-bottom: 30px;}
  }

}

@media sreen and (min-width: 320px)  {
  .our-team-member-1-photo {
   background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-1@1x.jpg);
  }

  .our-team-member-2-photo {
    background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-2@1x.jpg);
   }

  .our-team-member-3-photo {
    background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-3@1x.jpg);
   } 

  .our-team-member-4-photo {
    background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-4@1x.jpg);
  } 
}

@media sreen and (max-width: 767px) and (min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2ddpx),
  screen and (min-width: 320px) {
    .our-team-member-1-photo {
      background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-1@2x.jpg);
    }

    .our-team-member-2-photo {
      background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-2@2x.jpg);
    }

    .our-team-member-3-photo {
      background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-3@2x.jpg);
    }

    .our-team-member-4-photo {
      background-image: url(../../images/Our-team-pics/Mobile/our-team-member-mobile-4@2x.jpg);
    }
  }

  
  /*Tablet*/ 
  
  @media screen and (min-width: 768px) {
  
    .our-team-list {
      /*display: flex;*/
      /*flex-wrap: wrap;*/
      /*flex-direction: column;*/
      flex-grow: 0;
    }

    .our-team-member-photo {
      width: 354px;
      height: 260px;
    }
  }


  @media sreen and (min-width: 768px) and (max-width: 1199px) {
    .our-team-member-1-photo {
     background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-1@1x.jpg);
    }

    .our-team-member-2-photo {
      background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-2@1x.jpg);
    }

    .our-team-member-3-photo {
      background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-3@1x.jpg);
    }

    .our-team-member-4-photo {
      background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-4@1x.jpg);
    }
  }
  
  @media sreen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2ddpx),
    screen and (min-width: 768px) {
      .our-team-member-1-photo {
        background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-1@2x.jpg);
      }

      .our-team-member-2-photo {
        background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-2@2x.jpg);
      }

      .our-team-member-3-photo {
        background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-3@2x.jpg);
      }

      .our-team-member-4-photo {
        background-image: url(../../images/Our-team-pics/Tablet/our-team-member-tablet-4@2x.jpg);
      }
    }

     /*Desctop*/ 

  @media screen and (min-width: 1200px) {
      
      .our-team-member-photo {
        width: 270px;
        height: 260px;
      }

      .our-team-list {
        /*display: flex;*/
        justify-content: center;
        align-items: center;
      }


      .our-team-member {

        &:not(:last-child) {
        margin-right: 30px;}
      }
      
    }
  
   @media sreen and (min-width: 1200px)  {
    .our-team-member-1-photo {
     background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-1@1x.jpg);
    }

    .our-team-member-2-photo {
      background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-2@1x.jpg);
    }

    .our-team-member-3-photo {
      background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-3@1x.jpg);
    }

    .our-team-member-4-photo {
      background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-4@1x.jpg);
    }
  }
  
  @media sreen and (min-width: 1200px) and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2ddpx),
    screen and (min-width: 1200px) {
      .our-team-member-1-photo {
        background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-1@2x.jpg);
      }

      .our-team-member-2-photo {
        background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-2@2x.jpg);
      }

      .our-team-member-3-photo {
        background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-3@2x.jpg);
      }

      .our-team-member-4-photo {
        background-image: url(../../images/Our-team-pics/Desctop/our-team-member-desctop-4@2x.jpg);
      }
    }