.title  {
  font-weight: 700; 
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-we-do-section {
  background-color: $lightest-background-color;
  padding-top: 47px;
  padding-bottom: 94px;
}

.what-we-do-section-title {
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-pic-wrapper {
  position: relative;
}

.what-we-do-title-wrapper {
  position: absolute;
  bottom: 0;
}

.what-we-do-item-title {
  width: 370px;
  height: 70px;
  font-weight: 700; 
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  color: $dark-theme-text-color;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Смартфон*/ 

@media screen and (max-width: 767px) {
  .what-we-do-section {
    .header-box {
      max-width: 480px;
      margin: 0 auto;
  }

  /*.our-team-list list {
    display: flex;
    flex-direction: column;
  }

  .our-team-member {
    width: 270px;
    height: 260px;
  }
}

@media sreen and (min-width: 320px)  {
  .our-team-member-1 {
   background-image: url(../../images/Pictures.jpg/Mobile/our-team-member-mobile-1@1x.jpg);
  }
  }

@media sreen and (max-width: 767px) and (min-device-pixel-ratio:2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2ddpx),
  screen and (min-width: 320px) {
    .our-team-member-1 {
      background-image: url(../../images/Pictures.jpg/Mobile/our-team-member-mobile-1@2x.jpg);
    }*/
  }

/* Планшет*/

@media screen and (min-width: 768px) {
  

  /*.hero-section-container {
    padding-top: 118px;
    padding-right: 204px;
    padding-bottom: 118px;
    padding-left: 204px;
  }*/
}

/* Десктоп*/

@media screen and (min-width: 1200px) {

  /*.hero-section-container {
    padding-top: 118px;
    padding-right: 452px;
    padding-bottom: 118px;
    padding-left: 452px;
  }*/
}