.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
  }
  
  .backdrop .is-hidden .modal {
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: backInLeft;
    animation-duration: 500ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    width: 528px;
    min-height: 581px;
  
    background-color: $lightest-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .modal-close-button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

  &:focus svg,
  &:hover svg {
    fill: $accent-blue-color;}
  }

  .icon-close-svg {
    fill: #000000;
    transition-property: fill;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  
  .leave-the-details-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .leave-the-details-wrapper {
    margin-bottom: 30px;
  }
  
  .form-field {
    position: relative;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-field {
    position: relative;
  
   &:not(:last-child) {
    margin-bottom: 28px;}
   }
  
  .comment-field {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .comment-field-textarea {
    height: 120px;
    resize: none;
  }
  
  .form-field-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form-field-input,
  .comment-field-textarea {
    width: 100%;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  
  .form-field-input {
    padding-left: 42px;
    
  &:not(:placeholder-shown) + .form-field-label {
    color: $accent-blue-color;
    transform: translateY(-40px);
    left: 17px;
  }

  &:focus {
    outline: none;
    border: 1px solid $accent-blue-color;
  }
  
  &:focus + .form-field-label {
    color: $accent-blue-color;
    transform: translateY(-40px);
    left: 17px;
  }
}
  
.form-field-input:focus ~ .form-icon-svg {
  fill: $accent-blue-color;
}

.comment-field-textarea {
  padding-left: 16px;

  &::placeholder {
    align-items: center;
    color: $dark-grey-text-color;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $accent-blue-color;
  }

  &:focus {
    outline: none;
    border: 1px solid $accent-blue-color;
  }
}
  
  .comment-field-label {
    top: 15%;
    left: 16px;
  }
  
  .form-icon-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
  
    width: 18px;
    height: 18px;
    fill: $dark-grey-text-color;
  }
  
  .icon-name-svg {
    left: 19px;
  }
  
  .icon-tel-svg {
    left: 18px;
  }
  
  .icon-mail-svg {
    left: 17px;
  }
  
  .comment-field {
    height: 120px;
    margin-bottom: 20px;
    resize: none;
  }
  
  .comment-field-input {
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
  
  .licence-field {
    margin-bottom: 30px;
    padding-left: 14px;
  }
  
  .form-licence-label {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
  }
  
  .form-licence-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
  
    border: 2px solid $dark-grey-text-color;
    border-radius: 2px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-check-svg {
    width: 16px;
    height: 15px;
    background-origin: border-box;
    background-size: contain;
  }

  .form-licence-checkbox:checked  ~ .icon-check {
    border-color: transparent;
    background-color: $accent-blue-color;
    background-size: contain;
    background-origin: border-box;
  }
 
  .agree-text {
    font-weight: normal;
    /*line-height: 1.714px;*/
    letter-spacing: 0.03em;
    color: $light-grey-text-color;
    margin-left: 8px;
  }
  
  .agreement-document {
    color: $accent-blue-color;
    text-decoration: underline;
  }
  
  .submit-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 56px;
  
    font-weight: 700; 
    font-size: 16px;
    line-height: 1.875;
    background-color: #188ce8;
    color: $dark-theme-text-color;
  
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

 

/*Smartphone*/ 

@media screen and (max-width: 767px) {
  
  .backdrop {
    padding-top: 93px;
  }

  .modal {
    max-width: 450px;
  }

  .form-field,
  .comment-field {
    max-width: 370px;
  }

  .agree-text {
    font-size: 12px;
    line-height: 1.167px;
  }

  .agreement-document {
    font-size: 12px;
    line-height: 1.167px;
  }
}

/*Tablet*/ 
  
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    padding-top: 208px;
  }

  .modal {
    max-width: 450px;
  }

  .form-field,
  .comment-field {
    max-width: 370px;
  }

  .agree-text {
    font-size: 12px;
    line-height: 1.167px;
  }

  .agreement-document {
    font-size: 12px;
    line-height: 1.167px;
  }
}

/*Desctop*/
  
@media screen and (min-width: 1200px) {
  .backdrop {
    padding-top: 221px;
  }

  .agree-text {
    line-height: 1.714px;
  }
}