  $main-font: "Roboto", sans-serif;
  $secondary-font: "Raleway", sans-serif;
  $dark-grey-text-color: #212121;
  $light-grey-text-color: #757575;
  $accent-blue-color: #2196f3;
  $dark-theme-text-color: #ffffff;
  $logo-black-color: #000000;
  $main-background-color: #e5e5e5;
  $lightest-background-color: #ffffff;
  $darker-background-color: #f5f4fa;
  $background-footer-color: #2f303a;
  $social-links-svg-main-color: #afb1b8;
